header {
    text-align: center;
    padding: 20px;
    font-size: 35px;
    border: solid black 5px;
    background-color:aqua
   }

#fish_tips_container {
    display: flex;
}

#fish_section {
    border: 5px solid black;
    padding: 20px;
    width: 60%;
    margin: 100px;
}

#fishList  {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;

}

.fish {
    display: flex;
    flex-basis: 400px;
    flex-grow: 1;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.3);
    overflow: hidden;
    transition: transform 0.3s ease;
    border: 3px solid black;
    padding: 10px;
    background: hsl(39, 85%, 56%);
    margin: 50px;
}

#tipList {
    padding: 30px;
    width: 30%;
    border: solid black 5px;
    justify-content: center;
    margin: 100px;
    
}

#locationSection  {
    padding: 20px;
    width: 54.5%;
    border: 5px solid black;
    margin: 100px;
}

#locationList {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

.locations {
    display: flex;
    flex-grow: 1;
    max-width: 40%;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.3);
    transition: transform 0.3s ease;
    border: 3px solid black;
    padding: 10px;
    background: hsl(84, 27%, 82%);
    margin: 50px;
}
